= render 'shared/navbarPrincipal'

.panelGeral
  .conteudo
    .level
      .level-left
        .titleConteudo
          %h1.title.is-size-3.has-text-grey.mb-5
            - if params[:parent_id].present?
              Novo Dependente
            - else
              Novo Associados

    .contentGeral.mt-0
      .containerBase

        = render 'form', register: @register
