aside {
  width: 220px;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: shadow_base;
}

.sidebar__base {
  flex: 1;
  display: flex;
  flex-direction: column;

  .sidebar__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid $backlinkcolor_hover;

    .header_title {
      font-size: 1.4rem;
      font-weight: 500;
      color: $linkcolor;

      span {
        font-weight: 400;
        font-size: 1.2rem;
      }
    }

    .header_icon {
      color: $linkcolor;
      cursor: pointer;

      #btnOpen {
        display: none;
      }
    }
  }

  .sidebar__menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    .menu_link {
      margin: .5rem .5rem;
      padding: .5rem .5rem;
      color: $linkcolor;
      font-size: .8rem;
      width: 86px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &:hover {
        color: $linkcolorDark;
        border-radius: 5px;
        background: $backlinkcolor_hover;
      }

      .link_icon {
        font-size: 2.5rem;
      }
    }
  }
}
